body {
	font-family: Verdana, Geneva, 'sans-serif';
	font-size: 9pt;
}

.mybox.classicdesign {
	stroke-width: 1px;
	stroke: black;
	fill: whitesmoke;
}

.mybox.flatdesign {
	stroke-width: 0px;
	fill: lightgray
}

.mybom {
	stroke-width: 1px;
	stroke: black;
}

.mycase {
	stroke-width: 1px;
	stroke: darkgray;
	fill: white;
}

.mylosange {
	stroke-width: 1px;
	stroke: darkgray;
	fill: white;
}

.mytextpart {
	fill: black;
	font-weight: normal;
}

.mytexthowselected {
	fill: black;
	font-weight: bold;
}

.mytextassy {
	fill: red;
}
